* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color:#234;
	font-weight:bold;
}

a:hover{
	color:#fff;
}

.wrapper {
	background-color: #f4b5c4;
}

	.wrapper > header {
		background-color: #234;
		text-align: center;
	}

		.wrapper > header > h1 {
			padding: 40px 0px 15px 0px;
			font-size: 24pt;
			color: #fff;
		}

#main {
	padding: 30px 0px;
	margin: 0px auto;
	width: 950px;
}

#main > header > nav#nav-menu{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

#main > header > nav#nav-menu > ul {
	list-style: none;
}
				
#main > header > nav#nav-menu > ul > li {
	display: inline-block;
	margin-right: 5px;
}

#main > header > nav#nav-menu > ul > li > a {
	display: inline-block;
	padding: 5px 15px;
	color: white;
}

#main > header > nav#nav-menu > ul > li.active > a {
	background-color: #234;
	border-radius: 5px;
	color: white;
}

#main > header > nav#nav-menu > ul > li:hover > a {
	background-color: #cdf;
	border-radius: 5px;
	color: black;
}

#main > header > nav#social-handles {
	float:right;
	display: inline-block;
	
	
	
}

#main > header > nav#social-handles > ul {
	list-style: none;
}

#main > header > nav#social-handles > ul > li {
	display: inline-block;
	margin: 0px 5px;
}
 
#main > header > nav#social-handles > ul > li > a {
	display: inline-block;
}
#main > header > nav#social-handles > ul > li > a > img {
	width:30px;
	height:30px;
	
}
.banner {
	border-radius: 10px;
	margin: 20px 0px;
	height: auto;
	width: 100%;
}
.banner:hover{
	opacity:0.8;
}

.elements .element {
	width:300px;
	margin: 0px 5px 25px 5px;
	display: inline-block;
	
}

.elements .element > header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
	padding: 20px 0px;
	text-align: left;
}

.elements .element > header > h2 {
	display: inline-block;
	margin-left: 10px;
	margin-top: 2px;
	font-size: 16pt;
	color: #234;
}
	
.elements .element p {
	margin-bottom: 10px;
	text-align: left;
	font-size: 10pt;
	color: #3d3b3c;
}

.video{
	width:600px;
	padding:25px;
	margin: 20px auto;
	background-color:#fff;
	border-radius:15px;
	border: 5px solid #234;
	
}		
.video > iframe{
	display:block;
	margin:10px auto;
}
.video > p{
	padding:10px;
	text-align: center;
}

.wrapper > footer {
	background-color: #234;
	text-align: center;
	padding: 30px 0px;
	font-size: 8pt;
	color: #fff;
}



























